h1 {
    color: green;
}

h2 {
    color: green;
}

#economy h2 {
    color: gold;
}

.creation-date {
    color: #ccc;
}

/*** o (*) vai selecionar todos os textos da tela que não estiverem especificados***/

* {
    color: red;
}

